html
  body
    table
      - records.each do |record|
        tr
          td
            = record.name
          td
            = record.date
          td
            = record.day
          td
            = record.no_of_days
